    <ion-pane class="">
      <!-- Header -->
      <div class="bar bar-header bar-royal">
        <h2 class="ion-arrow-left-c padding-left white"></h2>
        <h1 class="title">Event Details</h1>
      </div>
      <!-- Header -->


      <ion-content padding="true">    

          <!-- Event Photo -->
          <div class="row" style="padding-top:30px;">
            
            <img src="img/cover.jpg" class="col text-center" style="
            max-width:600px; max-height:300px;">
            
          </div>
          <!-- Event Photo -->

          <!-- Created Details -->
          <div class="row" style="background:#e6e0e1;">
            <div class="col-60 padding-left">
              <span class="small-heading">Created By: Muhammad Tashfeen</span>
            </div>
            <div class="col-20 col-offset-20" style="float:right;">
              <span class="" style="font-size:10px;">
              <i class="ion-clock"></i>&nbsp;8 July 2016</span>
            </div>

          </div>
          <!-- Created Details -->

          <!-- Follow Section -->
          <div class="row" style="background:#fbf0f2;">
            <div class="col-33 padding-left">
              <i class="ion-ios-heart assertive pull-left  uppercase">
                <span class="sub-heading-bold padding-bottom" >37</span>
              </i>
            </div>
            <div class="col-33 text-center">
              <i class="ion-android-share-alt positive pull-left  uppercase">
              </i>
            </div>
            <div class="col-33 text-center">
              <i class="ion-more dark pull-right  uppercase">
              </i>
            </div>
          </div>
          <!-- Follow Section -->

          <!-- Follow Button -->
          <div class="row" style="padding-top:15px;">
            <button class="button icon-left ion-person-add button-positive button-small">Follow</button>
          </div>
          <!-- Follow Button -->

          <!-- Comments Div -->
          <div class="row" style="margin-top:10px;">
            <p style="font-weight:800;"><u class="assertive">The Awesome Party</u></p>
          </div>
          <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
              <i class="icon ion-chatbubble placeholder-icon"></i>
              <input type="search" placeholder="Add a comment...">
            </label>
            <button class="button button-clear button-positive">
              <i class="ion-chatbubble sub-heading" style="font-size:20px;"></i>
            </button>
          </div>
          <div class="row">
            
            <p class="sub-heading-bold" style="color:#886aea;">
              mtashfeen
              <span class="sub-heading" style="color:#000;">The best party i ever had</span>
            </p>
            
          </div>
          <div class="row">
            
            <p class="sub-heading-bold" style="color:#886aea;">
              mtashfeen
              <span class="sub-heading" style="color:#000;">The best party i ever had</span>
            </p>
            
          </div>
          <!-- Comments Div -->

      </ion-content>

    </ion-pane>