    <ion-pane class="">
      <!-- Header -->
      <div class="bar bar-header bar-royal" ng-click="changeView('settings')">
        <h2 class="ion-arrow-left-c padding-left white"></h2>
        <h1 class="title">My Events</h1>
      </div>
      <!-- Header -->


      <ion-content padding="true">    
        
        <!-- Search Box -->
        <div class="list list-inset" style="padding-top:20px;height:70px;">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
          </label>
        </div>
        <!-- Search Box -->

        <!-- Timeline Posts -->

        <!-- Post 1 -->
        <div class="card">
          <div class="item" style="height:80px;padding-top:2px;">
             <a class="item item-thumbnail-left" href="#">
                <img src="img/cover.jpg" style="height:50px;width:50px;">
                <p class="sub-heading-bold">The surprise</p>
                <p class="sub-heading-bold" style="color: #959595;">25 mins ago in Madison, WI</p>
              </a>
          </div>
          <div class="item item-text-wrap">
            <p>
            This is a surprise birthday party arranged for Mtashfeen. We invite everyone who knows him.
            </p>
          </div>
          <div class="item item-divider">
            <i class="ion-ios-heart pull-left assertive uppercase">
              <span class="sub-heading-bold padding-bottom" >37</span>
            </i>
            <i class="ion-edit" style="float:right;"></i>
          </div>
        </div>
        <!-- Post 1 -->

        <!-- Post 2 -->
        <div class="card">
          <div class="item" style="height:80px;padding-top:2px;">
             <a class="item item-thumbnail-left" href="#">
                <img src="img/cover.jpg" style="height:50px;width:50px;">
                <p class="sub-heading-bold">The surprise</p>
                <p class="sub-heading-bold" style="color: #959595;">25 mins ago in Madison, WI</p>
              </a>
          </div>
          <div class="item item-text-wrap">
            <p>
            This is a surprise birthday party arranged for Mtashfeen. We invite everyone who knows him.
            </p>
          </div>
          <div class="item item-divider">
            <i class="ion-ios-heart pull-left assertive uppercase">
              <span class="sub-heading-bold padding-bottom" >37</span>
            </i>
            <i class="ion-edit" style="float:right;"></i>
          </div>
        </div>
        <!-- Post 2 -->

        <!-- Timeline Posts -->
     
      </ion-content>
    </ion-pane>