    <ion-pane class="">
      <!-- Header -->
      <div class="bar bar-header bar-royal" ng-click="changeView('timeline')">
      <h2 class="ion-arrow-left-c padding-left white"></h2>
        <h1 class="title">Settings</h1>
      </div>
      <!-- Header -->


      <ion-content padding="true">    
      
        <!-- Profile Div -->
        <div class="card" style="margin-top:50px;">
          <div class="item" style="height:120px;padding-top:2px;">
             <a class="item item-thumbnail-left" href="#">

                <img src="img/cover.jpg" style="height:120px;width:150px;">
                <i class="ion-edit" style="float:right;"></i>
                <p class="sub-heading-bold">Muhammad Tashfeen</p>
                <p class="sub-heading-bold" style="color: #959595;">Madison, WI</p>
                <h1 class="ion-camera" style="font-size:25px;color:#333;"></h1>
              </a>
          </div>
          
          <div class="item item-divider">
            <i class="ion-ios-heart pull-left assertive uppercase">
              <span class="sub-heading-bold padding-bottom" >37</span>
            </i>
            
          </div>
        </div>
        <!-- Profile Div -->

        <!-- Lists div -->
        <div class="list">

          <a class="item item-icon-right sub-heading-bold" href="#/myEvents">
            My Events
            <span class="badge badge-positive">5</span>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </a>
          <a class="item item-icon-right sub-heading-bold" href="#/following">
            Following
            <span class="badge badge-positive">37</span>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </a>

          <a class="item item-icon-right sub-heading-bold" href="#/subscription">
            Subscription
            <i class="icon ion-chevron-right icon-accessory"></i>
          </a>

          <a class="item item-icon-right sub-heading-bold" href="#/customization">
            Personal Settings
            <i class="icon ion-chevron-right icon-accessory"></i>
          </a>

        </div>
        <!-- Lists div -->
     
      </ion-content>

    </ion-pane>